<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <chupaprecios_customshipping>
            <general>
                <debug>0</debug>
            </general>
        </chupaprecios_customshipping>
        <carriers>
            <mpcustomshipping>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <price>0</price>
                <model>ChupaPrecios\CustomShipping\Model\Carrier\CustomShipping</model>
                <name>Fixed</name>
                <title>Custom Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </mpcustomshipping>
        </carriers>
    </default>
</config>
